body {
	font-family: var(--fuenteprincipal);
	font-size: 1em;
}

img {
	width: 100%;
	height: auto;
	display: block;
}


:root {
	--ca: #007AFD;
	--cb: #680F60;
	--cc: #381F5A;
	--cd: #FC3887;
	--ce: #FDDB03;
	--fuenteprincipal: "Montserrat", sans-serif;
	--fuentesecundaria: "Handlee", cursive;
}

.container-fuild {
	width: 100%;
}

.container {
	margin: 0 auto;
	width: 1100px;
}


.row {
	display: flex;
}

header .nav_top {
	background-color: var(--cc);
	width: 100%;
	padding: 2em;
	color: var(--cd);
}

body {
	background-color: var(--cb);

}

header .nav_top .logo {
	font-size: 25px;
	flex-grow: 1;

}

header nav ul li a {
	background-color: var(--ca);
	padding: 1em;
	flex-wrap: wrap;
	flex-grow: 2;
	text-decoration: none;
	color: black;
	margin-left: 1.250em;

}

main {
	padding: 15px;
}

main h1 {
	font-size: 2em;
	font-weight: 700;
	color: var(--ce);
	text-transform: uppercase;

}

main .contenido {
	width: 30%;
}

main .contenido hr {
	border-color: var(--ca);
	margin: 1.25em 0;
}


main .texto {
	background-color: var(--ce);
	padding: 1em;
	font-weight: 400;

}

main .foto {
	width: 50%;
	padding: 50px 100px;

}

main .foto img {
	
	border-radius: 10%;

}